# Ignore node_modules
node_modules

# Ignore log files
npm-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore temporary files
*.tmp
*.swp

# Ignore build files (if applicable)
build
dist

# Ignore OS-specific files
.DS_Store
Thumbs.db
